@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    /*height: 100%;*/
}
body{
   background-image: linear-gradient(to right, #D9CB89 , #f0ad5ce3 100% );
   padding:20px ;
   
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
    width: 600px; 
    margin:auto;    
    padding: 10px;
  
}
h1{
    color:#F3931F ;
    text-align: center;
    text-shadow: 1px 2px 3px #7042096c;
    margin: auto;
    padding: 20px;

}
h2{
    text-shadow: 2px 2px 3px #002f3c50 ;
    color:#002F3C ;
    margin: auto;
    padding: 10px;
   
}
p{
    text-align: justify;
    margin: auto;
    padding: 10px;
   
}
